*{
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

h1{
    /*
    border-left: 5px solid #1C6EA4;
    */
}

a{
    /*
    text-decoration: underline;
    */
}